@import '../../iconfont/iconfont.css';
@import '../../iconfont/index.scss';

.half-safe-area-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.half-popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;

    &__container {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: var(--height);
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
        overflow: hidden;
        background: #ffffff;
        transform-origin: bottom center;
        transform: translateY(100%);
        @extend .half-safe-area-bottom;

        .btn {
            position: absolute;
            padding: 18rpx;
            font-size: 34rpx;
            line-height: 1;
            color: red;
        }
        .fullscreen-btn {
            right: 70rpx;
            top: 0;
            .fullscreen-icon1 {
                @extend .half-iconfont;
                @extend .icon-fangda1;
            }
            .fullscreen-icon2 {
                @extend .half-iconfont;
                @extend .icon-suoxiao;
            }
        }
        .close-btn {
            right: 0;
            top: 0;
            .close-icon {
                @extend .half-iconfont;
                @extend .icon-guanbi;
            }
        }
    }
}